{{!-- <canvas id="canvas" width="375" height="400"></canvas> --}}
<style>
  #box {
    width: 50px;
    height: 80px;
    background-color: #CCCCCC;
    cursor: pointer;
  }
</style>
<div id="box"></div>